<div xmlns:th="http://www.thymeleaf.org" class="modal" id="m_projectRecord" role="dialog" aria-labelledby="myModalDlgLabel-subhead" aria-hidden="true" tabindex="1">
    <div class="modal-dialog">
        <div class="modal-content" id="dialog-addProjectRecord" style="">
            <div class="modal-header">
                <div class="n-dialog-header-fg-filler"></div>
                <div class="n-dialog-header-bg-filler"></div>
                <!-- -->
                <div class="n-dialog-header-curve">
                    <div class="fg-mask"></div>
                    <div class="bg-mask"></div>
                    <div class="fg-corner"></div>
                    <div class="bg-corner"></div>
                </div>
                <i role="button" class="icon icon-close-rounded" data-dismiss="modal" aria-label="Close dialog" tabindex='4' id="fr-dialog-plaindialogcloseicon"></i>
                <h1 class="modal-title" id="labelNewRecord">New Record</h1>
                <h2 class="modal-title-subheading" id="labelNewRecordInstruction">Add new project record</h2>
            </div>
            <form class="form-horizontal">
                <div class="modal-body" style="overflow-y: auto; overflow-x: hidden; max-height: 480px; margin-right: 5px;">
                    <div class="form-group n-login-textfields" style="margin-bottom: 8px;">
                        <label class="col-sm-4 control-label">Project Category:</label>
                        <div class="col-sm-8  has-feedback" th:if="${category != null}">
                            <input type="text" class="form-control n-inputfield" id="exInputCategoryName" th:value="${category.name}" disabled="true" />
                            <input type="hidden" name="exInputCategory" th:value="${category.id}" />
                            <a class="form-control-feedback"><span class="icon "></span></a>
                        </div>
                        <div class="col-sm-8  has-feedback" th:if="${categories != null}">
                            <select id="exInputCategory" name="exInputCategory" style="margin: 7px 0;">
                                <option th:each="cat,iterStat:${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group n-login-textfields n-login-dynfields"  style="margin-bottom: 8px;" th:each="col,iterStat:${columns}">
                        <label class="col-sm-4 control-label" th:text="${col.columnName} +':'">Column Name:</label>
                        <div class="col-sm-8  has-feedback">
                            <input type="text" class="form-control n-inputfield" th:name="${col.columnName}" value="" th:placeholder="${col.columnRemark}" />
                            <a class="form-control-feedback"><span class="icon "></span></a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="projectId" th:value="${project.id}" />
                    <button type="button" class="btn btn-standard btn-defaultBlue" id="dialogSubmit" tabindex='2'>OK</button>
                    <button type="button" class="btn btn-standard" data-dismiss="modal" id="dialogCancel" tabindex='3' >Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function() {
        $("#dialogSubmit").click(function(){
            var projectId = $("#projectId").val();
            var formInputs = constructFormInputs();
            if (formInputs != null) {
                sendAjaxRequest("projects/" + projectId + "/records", 'POST', JSON.stringify(formInputs), function(data){
                    loadData("table-filter");
                    $('#m_projectRecord').modal('hide');
                    clearFormInputs("dialog-addProjectRecord");
                }, "application/json; charset=utf-8");
            }
        });
    });

    function constructFormInputs() {
        var data = { "props": [] };
        $(".n-login-dynfields").find("input").each(function(){
            var inputName = $(this).attr("name");
            var inputValue = $(this).val();
            data.props.push( {"name": inputName, "value": inputValue} );
        });

        var categoryId = $("input[name='exInputCategory']").size() > 0 ? $("input[name='exInputCategory']").val() :
            ($("select[name='exInputCategory']").size() > 0 ? $("select[name='exInputCategory']").val() : -1);

        if (parseInt(categoryId) > 0) {
            data.categoryId = categoryId;
            return data;
        } else {
            showErrorDialog("Invalid category selected!");
            return null;
        }
    }

</script>