<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default/layout" th:with="subTitle=${project.name}, menu='trace'">
	
<th:block layout:fragment="content">
    <div class="col-md-2">
        <th:block layout:include="modules/projects/menu/projectMenu"/>
    </div>
    <div class="col-md-10">
        <div class="panel panel-shadow panel-blue-cap">
            <div class="panel-heading panel-heading-transparent">
                <div style="color: #C8C9D1; padding: 3px 0; float:right;" th:text="${'Owner - ' + project.owner}">Owner</div>
                <h1 th:text="'\'' + ${project.name} + '\' - TraceLog'" style="line-height: 30px"></h1>
            </div>
            <div class="panel-body" style="padding: 0 10px 20px 10px;">
                <div id="table-filter" class="grid-alternating-rows n-table-hover n-jqxgrid-table n-grid-paging "></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var projectId = /*[[${project.id}]]*/;
        var tableColumns = constructTableColumns();
        $(function () {
            loadData("table-filter");
        });

        function loadData(container_id) {
            sendAjaxRequest("projects/" + projectId + "/traces", 'GET', {}, function(data) {
                initJqxTable(container_id, tableColumns, rebuildColumnData(data), false, 20, 515);
            });
        }

        function constructTableColumns () {
            var columns = [
                {
                  text: 'No.', sortable: false, filterable: false, editable: false,
                  groupable: false, draggable: false, resizable: false,
                  datafield: '', columntype: 'number', width: 40, cellsalign: 'center',
                  cellsrenderer: function (row, column, value) {
                      return "<div style='margin:4px;'>" + (value + 1) + "</div>";
                  }
                },
                {text: 'ID', datafield: 'id', hidden: true},
                {text: 'Action', datafield: 'operationType', cellsalign: 'left', align: 'center', width: 80},
                {text: 'Domain', datafield: 'domain', cellsalign: 'left', align: 'center', width: 140},
                {text: 'Category', datafield: 'category', cellsalign: 'left', align: 'center', cellsalign: 'center', width: 140},
                {text: 'Identifier', hidden: true, datafield: 'identifier', cellsalign: 'left', align: 'center', width: 80},
                {text: 'Description', datafield: 'message', cellsalign:'left', align: 'center'},
                {text: 'Operator', datafield: 'operator', cellsalign: 'left', align: 'center', width: 130},
                {text: 'Time', datafield: 'eventTime', cellsalign: 'center', align: 'center', width: 170},
                {text: 'oldData', hidden: true, datafield: 'oldData'},
                {text: 'newData', hidden: true, datafield: 'newData'},
                {
                    text: 'Diffs', columntype: 'link', cellsalign:'center', align: 'center', width: 80,
                    cellsrenderer: function (row, column, value) {
                        return "<a href='javascript:void(0);' style='margin:4px;display:block; text-align: center'>Diffs</a>";
                    }
                }
            ];
            return columns;
        }

        function rebuildColumnData(data) {
            if (data != null) {
                for (var i = 0; i < data.length; i++) {
                    data[i].eventTime = reformatDate(data[i].eventTime);
                    if (data[i].eventType != null) {
                        var opTypeCode = parseInt(data[i].eventType);
                        var opTypeDesc = opTypeCode == 0 ? "Add" : (opTypeCode == 1 ? "Update" : (opTypeCode == 2 ? "Delete" : "Import"));
                        data[i].operationType = opTypeDesc;
                    }
                }
            }
            return data;
        }

        /*]]>*/
    </script>
</th:block>
</html>