<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default/layout" th:with="subTitle=${project.name}, menu='categories'">
	
<th:block layout:fragment="content">
    <div class="col-md-2">
        <th:block layout:include="modules/projects/menu/projectMenu"/>
    </div>
    <div class="col-md-10">
        <div class="panel panel-shadow panel-blue-cap">
            <div class="panel-heading panel-heading-transparent">
                <div style="color: #C8C9D1; padding: 3px 0; float:right;" th:text="${'Owner - ' + project.owner}">Owner</div>
                <h1 th:text="'\'' + ${project.name} + '\' - Categories'" style="line-height: 30px"></h1>
            </div>
            <div class="panel-body" style="padding: 0 10px 20px 10px;">
                <div class="pannel-toolbar" style="overflow: hidden">
                    <div style="float: left;">
                        <a href="#" class="btn btn-icon-button"
                           data-backdrop="true" data-toggle="modal" id="op_add">
                            <span class="icon icon-add"></span><span>Add</span>
                        </a>
                    </div>
                </div>
                <div id="table-filter" class="grid-alternating-rows n-table-hover n-jqxgrid-table n-grid-paging "></div>
            </div>
        </div>
    </div>

    <div th:include="modules/projects/popup/categories/popupProjectCategoryForm"></div>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var tableColumns = constructTableColumns();
        var projectId = /*[[${project.id}]]*/;
        $(function () {
            loadData("table-filter");
            $("#op_add").click(function() {
                showPopupDialog('m_projectCat');
            });
        });

        function loadData(container_id) {
            var projectId = /*[[${project.id}]]*/;
            sendAjaxRequest("projects/" + projectId + "/categories", 'GET', {}, function(data) {
                initJqxTable(container_id, tableColumns, rebuildData(data), true);
            });
        }

        function constructTableColumns () {
            var columns = [
                {text: 'ID', datafield: 'id', hidden: true},
                {text: 'D', columntype: 'textbox', datafield: 'delete', width: 24, filterable: false, editable: false, sortable: false},
                {text: 'C', columntype: 'textbox', datafield: 'undo', width: 24, filterable: false, editable: false, sortable: false},
                {text: 'S', columntype: 'textbox', datafield: 'edit', width: 24, filterable: false, editable: false, sortable: false},
                {text: 'Category Name', datafield: 'name', cellsalign: 'left', align: 'center', filterable: true},
                {text: 'Category Description', datafield: 'description', cellsalign: 'left', align: 'center', filterable: true},
                {text: 'Owner', datafield: 'owner', cellsalign: 'left', editable: false, align: 'center', filterable: true},
                {text: 'Creation Time', datafield: 'creationTime', editable: false, cellsalign: 'center', align: 'center',  width: 160, filterable: true},
                {text: 'Last Update Time', datafield: 'updateTime', editable: false, cellsalign:'center', align: 'center', width: 160, filterable: true}
            ];
            return columns;
        }

        function rebuildData (data) {
            if (data != null) {
                for (var i = 0; i < data.length; i++) {
                    rebuildSingleData(data[i]);
                }
            }
            return data;
        }

        function rebuildSingleData (data) {
            if (data != null) {
                data.creationTime = reformatDate(data.creationTime);
                data.updateTime = reformatDate(data.updateTime);
                data.undo = '<div class="n-row-indicated" onclick="reviseCategory(\'clean\');" title="Cleanup"><span class="icon icon-undo"></span></div>';
                data.edit = '<div class="n-row-indicated" onclick="reviseCategory(\'update\');" title="Save"><span class="icon icon-save-as"></span></div>';
                data.delete = '<div class="n-row-indicated" onclick="reviseCategory(\'delete\');" title="Delete"><span class="icon icon-delete"></span></div>';
            }

            return data;
        }

        function reviseCategory (operationType) {
            var rowData = getCurrentGridRowData("table-filter");
            if (rowData != null) {
                switch (operationType) {
                    case "update":
                        updateRowWithConfirmation("Do you want to update this category?",
                            "Category property would be updated to," + constructColumnInstructions(rowData),
                            function() {
                                // remove some unnecessary attribute from row data
                                rowData = removeObjectAttribute(rowData, ['delete', 'edit', 'uid', 'undo', 'uniqueid', 'visibleindex', 'boundindex', 'creationTime', 'owner', 'updateTime']);
                                sendAjaxRequest("projects/" + projectId + "/categories", 'PUT', JSON.stringify(rowData), function(data) {
                                    updateGridRowData("table-filter", rebuildData(rebuildSingleData(data)));
                                }, "application/json; charset=utf-8");
                            }
                        );
                        break;
                    case "delete":
                        updateRowWithConfirmation("Do you want to delete this category?",
                            "Below category would be removed and including all relevant data in project table: " + constructColumnInstructions(rowData),
                            function() {
                                sendAjaxRequest("projects/" + projectId + "/categories/" + rowData.id, 'DELETE', {}, function(data) {
                                    removeGridRowData("table-filter");
                                });
                            }
                        );
                        break;
                    case "clean":
                        updateRowWithConfirmation("Do you want to cleanup the column?",
                            "It would cleanup all the revisions from editor.",
                            function() {
                                sendAjaxRequest("projects/" + projectId + "/categories/" + rowData.id, 'GET', {}, function(data) {
                                    updateGridRowData("table-filter", rebuildSingleData(data));
                                });
                            }
                        );
                        break;
                    default:
                        showErrorDialog("Operation (" + operationType + ") is not supported!");
                }
            }
        }

        function constructColumnInstructions (rowData, join) {
            var dataInstructions = "";
            join = join ? join : "<br/>";
            dataInstructions += join + "- Category Name:    <font color='red'>" + rowData.name + "</font>";
            dataInstructions += join + "- Category Description:  <font color='red'>" + rowData.description + "</font>";
            return dataInstructions;
        }

        /*]]>*/
    </script>
</th:block>
</html>