<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default/layout" th:with="subTitle=${project.name}, menu='data'">
	
<th:block layout:fragment="content">
    <div class="col-md-2">
        <th:block layout:include="modules/projects/menu/projectMenu"/>
    </div>
    <div class="col-md-10">
        <div class="panel panel-shadow panel-blue-cap">
            <div class="panel-heading panel-heading-transparent">
                <div style="color: #C8C9D1; padding: 3px 0; float:right;" th:text="${'Owner - ' + project.owner}">Owner</div>
                <h1 th:text="${'Project - ' + project.name}" style="line-height: 30px"></h1>
            </div>
            <div class="panel-body" style="padding: 0 10px 20px 10px;">
                <div id="table-filter" class="grid-alternating-rows n-table-hover n-jqxgrid-table n-grid-paging "></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            loadData("table-filter");
        });

        function loadData(container_id) {
            var projectId = /*[[${project.id}]]*/;
            sendAjaxRequest("projects/" + projectId, 'GET', {}, function(data) {
                var tableDataAndColumns = constructTableColumnsAndData(data);
                initJqxTable(container_id, tableDataAndColumns.columns, rebuildData(tableDataAndColumns.data));
            });
        }

        function rebuildData (data) {
            if (data != null) {
                for (var i = 0; i < data.length; i++) {
                    data[i].creationTime = reformatDate(data[i].creationTime);
                    data[i].updateTime = reformatDate(data[i].updateTime);
                    data[i].undo = '<div class="n-row-indicated" onclick="reviseColumn(\'clean\');" title="Cleanup"><span class="icon icon-undo"></span></div>';
                    data[i].edit = '<div class="n-row-indicated" onclick="reviseColumn(\'update\');" title="Save"><span class="icon icon-save-as"></span></div>';
                    data[i].delete = '<div class="n-row-indicated" onclick="reviseColumn(\'delete\');" title="Delete"><span class="icon icon-delete"></span></div>';
                }
            }

            return data;
        }

        function constructTableColumnsAndData (data) {
            var rows = data.rows;
            var columns = data.columns;
            var result = { data: [], columns: [] };

            result.columns.push({text: 'D', columntype: 'textbox', datafield: 'delete', width: 24, filterable: false, editable: false, sortable: false});
            result.columns.push({text: 'C', columntype: 'textbox', datafield: 'undo', width: 24, filterable: false, editable: false, sortable: false});
            result.columns.push({text: 'S', columntype: 'textbox', datafield: 'edit', width: 24, filterable: false, editable: false, sortable: false});
            result.columns.push({text: 'No.', datafield: 'id', hidden: false, width: 40, editable: false, align: 'center', cellsalign: 'center'});
            result.columns.push({text: 'Category', datafield: 'categoryName', align: 'center', cellsalign: 'left', filterable: true, width: 160});

            for (var columnIndex in columns) {
                var column = columns[columnIndex];
                result.columns.push( { text: column.columnName, datafield: column.columnId, cellsalign: 'left', align: 'center' } );
            }

            for (var rowIndex in rows) {
                var row = rows[rowIndex];
                result.data.push( { id: row.id, categoryName: row.categoryName, creationTime: row.creationTime, updateTime: row.lastUpdateTime} );
                var cells = row.cells;
                for (var cellIndex in cells) {
                    var cell = cells[cellIndex];
                    result.data[rowIndex][cell.id] = cell.value;
                }
            }

            result.columns.push({text: 'Creation Time', datafield: 'creationTime', align: 'center', cellsalign: 'center', filterable: true, width: 160});
            result.columns.push({text: 'Last Update Time', datafield: 'updateTime', align: 'center', cellsalign: 'center', filterable: true,  width: 160});

            return result;
        }

        /*]]>*/
    </script>
</th:block>
</html>