<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default/layout" th:with="subTitle=${project.name}, menu='data'">
	
<th:block layout:fragment="content">
    <div class="col-md-2">
        <th:block layout:include="modules/projects/menu/projectMenu"/>
    </div>
    <div class="col-md-10">
        <div class="panel panel-shadow panel-blue-cap">
            <div class="panel-heading panel-heading-transparent">
                <div style="color: #C8C9D1; padding: 3px 0; float:right;" th:text="${'Owner - ' + project.owner}">Owner</div>
                <h1 th:text="${'Project - ' + project.name}" style="line-height: 30px"></h1>
            </div>
            <div class="panel-body" style="padding: 0 10px 20px 10px;">
                <div class="pannel-toolbar" style="overflow: hidden">
                    <div style="float: left;">
                        <a href="#" class="btn btn-icon-button"
                           data-backdrop="true" data-toggle="modal" id="op_add">
                            <span class="icon icon-add"></span><span>Add</span>
                        </a>
                    </div>
                </div>
                <div style="text-align:right; margin: 5px 0; line-height: 16px; font-size: 9pt">
                    Export:
                    <img title="Export to XLS" th:src="@{/assets/img/export2excel_small.gif}" class="icon-export" id="excelExport"/>
                    <img title="Export to PDF" th:src="@{/assets/img/export2pdf.gif}" class="icon-export" id="pdfExport" />
                    <!-- <img title="Export to HTML" th:src="@{/assets/img/export2html.gif}" class="icon-export" id="htmlExport" /> -->
                </div>
                <div id="table-filter" class="grid-alternating-rows n-table-hover n-jqxgrid-table n-grid-paging "></div>
            </div>
        </div>
    </div>

    <div th:include="modules/projects/popup/records/popupProjectRecordForm"></div>
    <div th:include="modules/projects/popup/records/popupProjectRecordData"></div>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var projectId = /*[[${project.id}]]*/;
        var categoryId = /*[[${category != null ? category.id : null}]]*/
        var excludedColumns = ["id", "edit", "delete", "undo", "seq", "updateTime", "columnLength", "visible"];
        var dataColumns = [];
        $(function () {
            loadData("table-filter");
            $("#excelExport").click(function(){
                export2File("table-filter", "xls", "jqxGrid", ctxPath + "/export", excludedColumns);
            });
            $("#pdfExport").click(function(){
                export2File("table-filter", "pdf", "jqxGrid", ctxPath + "/export", excludedColumns);
            });
            $("#op_add").click(function() {
                showPopupDialog('m_projectRecord');
            });
        });

        function loadData(container_id) {
            var projectId = /*[[${project.id}]]*/;
            var uri = "projects/" + projectId + "/records" + (categoryId != null ? ("?categoryId=" + categoryId) : "");
            sendAjaxRequest(uri, 'GET', {}, function(data) {
                var tableDataAndColumns = constructTableColumnsAndData(data);
                initJqxTable(container_id, tableDataAndColumns.columns, rebuildData(tableDataAndColumns.data), false);
            });
        }

        function rebuildData (dataList) {
            if (dataList != null) {
                for (var i = 0; i < dataList.length; i++) {
                    rebuildSingleColumnData(dataList[i]);
                }
            }

            return dataList;
        }

        function rebuildSingleColumnData (data) {
            if (data != null) {
                data['Creation Time'] = reformatDate(data['Creation Time']);
                data['Update Time'] = reformatDate(data['Update Time']);
                //data.undo = '<div class="n-row-indicated" onclick="reviseColumn(\'clean\');" title="Cleanup"><span class="icon icon-undo"></span></div>';
                //data.edit = '<div class="n-row-indicated" onclick="reviseColumn(\'update\');" title="Save"><span class="icon icon-save-as"></span></div>';
                data.delete = '<div class="n-row-indicated" onclick="reviseColumn(\'delete\');" title="Delete"><span class="icon icon-delete"></span></div>';
            }

            return data;
        }

        function constructTableColumnsAndData (data) {
            var rows = data.rows;
            var columns = data.columns;
            var result = { data: [], columns: [] };

            result.columns.push({text: 'D', columntype: 'textbox', datafield: 'delete', width: 24, filterable: false, editable: false, sortable: false});
            //result.columns.push({text: 'C', columntype: 'textbox', datafield: 'undo', width: 24, filterable: false, editable: false, sortable: false});
            //result.columns.push({text: 'S', columntype: 'textbox', datafield: 'edit', width: 24, filterable: false, editable: false, sortable: false});

            result.columns.push({
              text: 'No.', sortable: false, filterable: false, editable: false,
              groupable: false, draggable: false, resizable: false,
              datafield: '', columntype: 'number', width: 38, cellsalign: 'center',
              cellsrenderer: function (row, column, value) {
                  return "<div style='margin:4px;'><a href='javascript:void(0);' onclick='showRecord();' style='text-decoration: none;'>" + (value + 1) + "</a></div>";
              }
            });

            // result.columns.push({text: 'No.', datafield: 'id', hidden: false, width: 40, editable: false, align: 'center', cellsalign: 'center'});
            result.columns.push({text: 'Category', datafield: 'Category Name', align: 'center', cellsalign: 'left', filterable: true, width: 120, editable: false});

            dataColumns = [];
            for (var columnIndex in columns) {
                var column = columns[columnIndex];
                if (column.columnId != undefined) {
                    var editable = true;
                    result.columns.push( { text: column.columnName, datafield: column.columnName, cellsalign: 'left', align: 'center', hidden: column.visible == 0, editable: editable} );
                    dataColumns.push(column.columnName);
                }
            }

            result.columns.push({text: 'Owner', datafield: 'Owner', align: 'center', cellsalign: 'left', filterable: true, width: 120, editable: false});
            result.columns.push({text: 'Last Update By', datafield: 'Last Update User', align: 'center', cellsalign: 'left', filterable: true, width: 120, editable: false});
            result.columns.push({text: 'Creation Time', hidden: true, datafield: 'Creation Time', align: 'center', cellsalign: 'center', filterable: true, width: 150, editable: false});
            result.columns.push({text: 'Last Update Time', datafield: 'Update Time', align: 'center', cellsalign: 'center', filterable: true,  width: 150, editable: false});
            result.data = data.rowData;

            return result;
        }

        function reviseColumn (operationType) {
            var rowData = getCurrentGridRowData("table-filter");
            if (rowData != null) {
                switch (operationType) {
                    case "update":
                        updateRowWithConfirmation("Do you want to update this record?",
                            "Record would be updated to," + constructColumnInstructions(rowData),
                            function() {
                                // remove some unnecessary attribute from row data
                                rowData = removeObjectAttribute(rowData, ['delete', 'edit', 'uid', 'undo', 'uniqueid', 'visibleindex', 'boundindex', 'Owner', 'Last Update User', 'Creation Time', 'Update Time']);
                                sendAjaxRequest("projects/" + projectId + "/records", 'PUT', JSON.stringify(rowData), function(data) {
                                    updateGridRowData("table-filter", rebuildSingleColumnData(data));
                                }, "application/json; charset=utf-8");
                            }
                        );
                        break;
                    case "delete":
                        updateRowWithConfirmation("Do you want to delete this record?",
                            "Below record would be removed and including all relevant data in project table: " + constructColumnInstructions(rowData),
                            function() {
                                sendAjaxRequest("projects/" + projectId + "/records/" + rowData.id, 'DELETE', {}, function(data) {
                                    removeGridRowData("table-filter");
                                });
                            }
                        );
                        break;
                    case "clean":
                        updateRowWithConfirmation("Do you want to cleanup the record?",
                            "It would cleanup all the record revisions from editor.",
                            function() {
                                sendAjaxRequest("projects/" + projectId + "/records/" + rowData.id, 'GET', {}, function(data) {
                                    updateGridRowData("table-filter", rebuildData(data.rowData));
                                });
                            }
                        );
                        break;
                    default:
                        showErrorDialog("Operation (" + operationType + ") is not supported!");
                }
            }
        }

        function showRecord() {
            var rowData = getCurrentGridRowData("table-filter");
            if (rowData != null) {
                var dataProps = constructColumnInstructions(rowData);
                $("#m_projectRecordData").find(".modal-body").html(dataProps);
                $("#m_projectRecordData").modal('show');
            }
        }

        function constructColumnInstructions (rowData) {
            var dataInstructions = "<table class='tbl-instructions' style=''>";
            dataInstructions += "<tr><th>Property Name</th><th>Property Value</th></tr>";
            if (dataColumns != null && dataColumns.length > 0) {
                for (var i = 0; i < dataColumns.length; i++) {
                    dataInstructions += "<tr><td>" + dataColumns[i] + "</td><td><font>" + rowData[dataColumns[i]] + "</font></td></tr>";
                }
            }

            dataInstructions += "</table>";

            return dataInstructions;
        }

        /*]]>*/
    </script>
</th:block>
</html>