<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nokia.ucms.biz.repository.DatabaseAdminRepository">

    <update id="createTableIfNotExist" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS `${tableName}`
        (
            `id` int(11) NOT NULL AUTO_INCREMENT,
            `c_id` int(11) NULL,
            `creationTime` timestamp NULL DEFAULT NULL,
            `updateTime` timestamp NULL DEFAULT NULL,
            PRIMARY KEY (`id`),
            KEY `c_id` (`c_id`)
        )
        ENGINE=MyISAM DEFAULT CHARSET=utf8
    </update>

    <update id="addTableColumn">
        ALTER TABLE `${tableName}` ADD `${columnName}` VARCHAR(${columnLength}) NULL
    </update>

    <update id="removeTableColumn">
        ALTER TABLE `${tableName}` DROP `${columnName}`
    </update>
    
    <select id="query" resultType="java.util.Map" statementType="STATEMENT">
        SELECT dt.*, c.c_name FROM ${tableName} dt
        <where>
            <if test="categoryId != null and categoryId > 0">
                `c_id` = #{categoryId}
            </if>
        </where>
        LEFT JOIN `t_project_category` c ON dt.c_id = c.id
        ORDER BY `updateTime` DESC
    </select>

    <update id="removeTable" parameterType="java.lang.String">
        DROP TABLE `${tableName}`
    </update>

</mapper>