<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nokia.ucms.biz.repository.ProjectInfoRepository">

    <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />

    <resultMap type="ProjectInfo" id="rs_project">
        <id property="id" column="id"/>
        <result property="name" column="p_name"/>
        <result property="description" column="p_description"/>
        <!-- <result property="owner" column="p_owner"/> -->
        <result property="tableName" column="p_tablename"/>
        <result property="state" column="p_state"/>
        <result property="creationTime" column="p_creationTime" />
        <result property="lastUpdateTime" column="p_updateTime" />
        <result property="publicity" column="p_public" />
        
        <association property="owner" javaType="User" column="p_owner" select="com.nokia.ucms.biz.repository.UserRepository.getUserById" />
    </resultMap>

    <select id="getProjectInfoByName" parameterType="java.lang.String" resultMap="rs_project">
        SELECT * FROM `t_project` WHERE `p_name` = #{projectName}
    </select>

    <select id="getProjectInfoById" parameterType="java.lang.Integer" resultMap="rs_project">
        SELECT * FROM `t_project` WHERE `id` = #{projectId}
    </select>

    <select id="getAllProject" resultMap="rs_project">
        SELECT * FROM `t_project` WHERE `p_public` = 1 ORDER BY `p_updateTime` DESC
    </select>

    <select id="getProjectInfoByTableName" resultMap="rs_project">
        SELECT * FROM `t_project` WHERE `p_tablename` = #{tableName}
    </select>

    <select id="getProjectInfoByOwner" resultMap="rs_project">
        SELECT * FROM `t_project`
        <where>
            1 = 1
            <if test="publicity != null"> AND `p_public` = #{publicity}</if>
            <if test="userName != null"> AND `p_owner` = (SELECT id FROM `t_user` WHERE `u_shortname` = #{userName})</if>
        </where>
        ORDER BY `p_updateTime` DESC
    </select>

    <insert id="addProjectInfo" parameterType="ProjectInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_project` (`p_name`, `p_description`, `p_owner`, `p_tablename`, `p_public`, `p_state`, `p_creationTime`, `p_updateTime`)
            VALUES (#{name}, #{description}, #{owner.id}, #{tableName}, #{publicity}, #{state}, #{creationTime}, #{lastUpdateTime})
    </insert>

    <update id="updateProjectInfo">
        UPDATE `t_project`
        <set>
            <if test="name != null and name != ''">`p_name` = #{name},</if>
            <if test="description != null and description !=''">`p_description` = #{description},</if>
            <if test="state != null and state > -1">`p_state` = #{state},</if>
            <if test="lastUpdateTime != null">`p_updateTime` = #{lastUpdateTime},</if>
            <if test="publicity != null">`p_public` = #{publicity},</if>
            `id` = `id`
        </set>
        WHERE `id` = #{id}
    </update>

    <delete id="removeProjectInfo">
        DELETE FROM `t_project` WHERE `id` = #{projectId}
    </delete>

</mapper>