<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nokia.ucms.biz.repository.ProjectCategoryRepository">

    <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />

    <resultMap type="ProjectCategory" id="rs_projectCategory">
        <id property="id" column="id"/>
        <result property="projectId" column="p_id"/>
        <result property="owner" column="c_owner"/>
        <result property="name" column="c_name"/>
        <result property="description" column="c_desc"/>
        <result property="creationTime" column="c_createTime"/>
        <result property="updateTime" column="c_updateTime"/>
    </resultMap>

    <select id="getCategoryByName" resultMap="rs_projectCategory">
        SELECT * FROM `t_project_category` WHERE `p_id` = #{projectId} AND `c_name` = #{name}
    </select>

    <select id="getCategoriesByProjectId" parameterType="java.lang.Integer" resultMap="rs_projectCategory">
        SELECT * FROM `t_project_category` WHERE `p_id` = #{projectId} ORDER BY `c_updateTime` DESC
    </select>

    <select id="getCategoryById" parameterType="java.lang.Integer" resultMap="rs_projectCategory">
        SELECT * FROM `t_project_category` WHERE `id` = #{id}
    </select>

    <insert id="addCategory" parameterType="ProjectCategory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_project_category` (
            `p_id`, `c_owner`, `c_name`, `c_desc`, `c_createTime`, `c_updateTime`)
        VALUES (
            #{projectId}, #{owner}, #{name}, #{description}, #{creationTime}, #{updateTime})
    </insert>

    <update id="updateCategory">
        UPDATE `t_project_category` SET
            `c_name` = #{name},
            `c_desc` = #{description},
            `c_updateTime` = #{updateTime}
        WHERE `id` = #{id}
    </update>

    <delete id="removeCategoryById" parameterType="java.lang.Integer">
        DELETE FROM `t_project_category` WHERE `id` = #{id}
    </delete>

    <delete id="removeCategoriesByProjectId" parameterType="java.lang.Integer">
        DELETE FROM `t_project_category` WHERE `p_id` = #{projectId}
    </delete>

</mapper>