<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default/layout">
	
<th:block layout:fragment="content">
    <!--
    <div class="col-md-2">
        <div>
            <div style="margin-bottom: 10px">
                <svg aria-hidden="true" style="vertical-align: middle" class="octicon octicon-flame" height="32" width="22" version="1.1" viewBox="0 0 12 16"><path fill-rule="evenodd" d="M5.05.31c.81 2.17.41 3.38-.52 4.31C3.55 5.67 1.98 6.45.9 7.98c-1.45 2.05-1.7 6.53 3.53 7.7-2.2-1.16-2.67-4.52-.3-6.61-.61 2.03.53 3.33 1.94 2.86 1.39-.47 2.3.53 2.27 1.67-.02.78-.31 1.44-1.13 1.81 3.42-.59 4.78-3.42 4.78-5.56 0-2.84-2.53-3.22-1.25-5.61-1.52.13-2.03 1.13-1.89 2.75.09 1.08-1.02 1.8-1.86 1.33-.67-.41-.66-1.19-.06-1.78C8.18 5.31 8.68 2.45 5.05.32L5.03.3l.02.01z"></path></svg>
                <span style="line-height: 30px">Popular Projects</span>
            </div>
            <div>
                <ul class="filter-list">
                    <li>
                        <span class="item">NetAct Component Directory Component DIrectory</span>
                        <span class="star" style="width: 23%">
                            <svg aria-hidden="true" class="octicon octicon-star" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path></svg>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    -->
    <div class="col-md-12">
        <div class="panel panel-shadow panel-blue-cap">
            <div class="panel-heading panel-heading-transparent"><h1>Project showcases</h1></div>
            <div class="panel-body" style="padding: 0 10px 20px 10px;">
                <div id="table-filter" class="grid-alternating-rows n-table-hover n-jqxgrid-table n-grid-paging "></div>
                <div id="table-filter1" class="grid-alternating-rows n-table-hover n-jqxgrid-table n-grid-paging "></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var tableColumns = constructTableColumns();
        $(function () {
            loadData("table-filter");
        });

        function loadData(container_id) {
            sendAjaxRequest("projects/", 'GET', {}, function(data) {
                initJqxTable(container_id, tableColumns, rebuildColumnData(data));
            });
        }

        function rebuildColumnData (data) {
            if (data != null) {
                for (var i = 0; i < data.length; i++) {
                    data[i].creationTime = reformatDate(data[i].creationTime);
                    data[i].lastUpdateTime = reformatDate(data[i].lastUpdateTime);
                    data[i].name = "<a target='_self' href='" + ctxPath + "/projects/" + data[i].name + "'>" + data[i].name + "</a>";
                    data[i].ownerName = data[i].owner.userDisplayName;
                }
            }
            return data;
        }

        function constructTableColumns () {
            var columns = [
                {
                  text: 'No.', sortable: false, filterable: false, editable: false,
                  groupable: false, draggable: false, resizable: false,
                  datafield: '', columntype: 'number', width: 40, cellsalign: 'center',
                  cellsrenderer: function (row, column, value) {
                      return "<div style='margin:4px;'>" + (value + 1) + "</div>";
                  }
                },
                {text: 'ID', datafield: 'id', hidden: true},
                {text: 'Project Name', datafield: 'name', align: 'center', filterable: true},
                {text: 'Project Description', datafield: 'description', align: 'center'},
                {text: 'Project Owner', datafield: 'ownerName', align: 'center', width: 200},
                {text: 'Creation Time', datafield: 'creationTime', width: 180, cellsalign:'center', align: 'center'},
                {text: 'Last Update Time', datafield: 'lastUpdateTime', width: 180, cellsalign:'center', align: 'center'}
            ];

            return columns;
        }
		/*]]>*/
    </script>
</th:block>
</html>