<div xmlns:th="http://www.thymeleaf.org" class="row demo-header" style="margin:0 auto;">
	<div class="col-md-12" style="padding:0">
        <nav class="n-banner nokia_banner_normal" style="min-height:60px">
            <div class="n-banner-1st-filler-white"></div>
            <div class="n-banner-1st-filler-blue"></div>
            <div class="n-banner-2nd-filler-blue hidden-xs hidden-on-blue-detached"></div>
            <div class="n-banner-2nd-filler-gray hidden-xs"></div>
            <div class="container-fluid">
                <div class="n-banner-header">
                	<a class="n-banner-brand" href="#" th:href="@{'/projects/' + ${project.name}}" th:if="${project != null}"
                       th:text="'Nokia Content Management System' + (${subTitle != null} ? ' - ' + ${subTitle} : '')">Nokia Content Management System</a>
                    <a class="n-banner-brand" href="#" th:href="@{/}" th:if="${project == null}"
                       th:text="'Nokia Content Management System' + (${subTitle != null} ? ' - ' + ${subTitle} : '')">Nokia Content Management System</a>
                </div>
                <div class="collapse n-banner-collapse" id="n-banner-collapse">
                    <div th:replace="layout/common/fragments/banner_logo"/>
                    <div th:replace="layout/default/fragments/navigation"/>
                </div>
            </div>
        </nav>
    </div>
</div>