<div>
	<dl class="n-list-group">
		<!--
		<dt class="n-list-group-item">Projects</dt>
			<a href="#" th:href="@{/}">
				<dd class="n-list-group-item" th:classappend="${menu == 'site'} ? selected : ''" style="border-radius:0px">
					<span class="icon icon-regions icon-subnav"></span>
					<span>Site</span>
				</dd>
			</a>-->
		<div>
			<dt class="n-list-group-item">Global Configuration</dt>
				<a href="#" th:href="@{/admin/user}">
					<dd class="n-list-group-item" th:classappend="${menu == 'user'} ? selected : ''" style="border-radius:0px">
						<span class="icon icon-subnav icon-profile"></span>
						<span>User Management</span>
					</dd>
				</a>
				<a href="#" th:href="@{/admin/settings}">
					<dd class="n-list-group-item" th:classappend="${menu == 'settings'} ? selected : ''" style="border-top-left-radius:0px; border-top-right-radius:0px;">
						<span class="icon icon-regions icon-settings"></span>
						<span>System Management</span>
					</dd>
				</a>
		</div>
	</dl>
</div>