<div xmlns:th="http://www.thymeleaf.org" class="row n-banner-2nd">
	<ul class="nav n-banner-nav n-banner-tabs">
		<li class="n-banner-3Link" th:classappend="${mod == null} ? active : ''"  id="nav_download">
			<a href="#" th:href="@{/}" target="_self" data-item="item2"><span>Explore</span></a>
		</li>
		<li class="n-banner-3Link" th:classappend="${mod == 'workspace'} ? active : ''" id="nav_get_started">
			<a href="#" th:href="@{/workspace/marco}" target="_self" data-item="item3"><span>My Workspace</span></a>
		</li>
		<li class="n-banner-3Link" th:classappend="${mod == 'admin'} ? active : ''" id="nav_admin">
			<a href="#" th:href="@{/admin}" target="_self" data-item="item3"><span>Administer</span></a>
		</li>
	</ul>

	<div class="n-banner-2nd-gray-to-blue hidden-xs hidden-on-blue-detached">
		<div class="gray-mask"></div>
		<div class="blue-mask"></div>
		<div class="gray-corner"></div>
		<div class="blue-corner"></div>
	</div>
</div>