<div class="row n-banner-2nd">
	<ul class="nav n-banner-nav n-banner-tabs">
		<li class="n-banner-3Link active" id="nav_download">
			<a href="#" th:href="@{/}" target="_self" data-item="item2"><span>Explore</span></a>
		</li>
		<li class="n-banner-3Link" id="nav_get_started">
			<a href="#" th:href="@{/uid}" target="_self" data-item="item3"><span>My Projects</span></a>
		</li>
	</ul>

	<div class="n-banner-2nd-gray-to-blue hidden-xs hidden-on-blue-detached">
		<div class="gray-mask"></div>
		<div class="blue-mask"></div>
		<div class="gray-corner"></div>
		<div class="blue-corner"></div>
	</div>
</div>