<div>
    <dl class="n-list-group">
        <dt class="n-list-group-item">Profiles</dt>
        <a href="#">
            <dd class="n-list-group-item" th:classappend="${menu == 'ideas'} ? selected : ''" style="border-radius:0px">
                <span class="icon icon-list icon-subnav"></span><span>NetAct17.8</span>
            </dd>
        </a>
        <a href="#">
            <dd class="n-list-group-item" th:classappend="${menu == 'ideas'} ? selected : ''" style="border-radius:0px">
                <span class="icon icon-list icon-subnav"></span><span>NetAct17.2</span>
            </dd>
        </a>
        <a href="#">
            <dd class="n-list-group-item" th:classappend="${menu == 'ideas'} ? selected : ''" style="border-radius:0px">
                <span class="icon icon-list icon-subnav"></span><span>NetAct16.8</span>
            </dd>
        </a>
        <a href="#">
            <dd class="n-list-group-item" th:classappend="${menu == 'ideas'} ? selected : ''" style="border-radius:0px">
                <span class="icon icon-list icon-subnav"></span><span>NetAct16.5</span>
            </dd>
        </a>
        <dt class="n-list-group-item">Settings</dt>
        <a href="#" th:href="@{'/site/' + ${siteName} + '/activity/poll'}">
            <dd class="n-list-group-item" th:classappend="${menu == 'voting'} ? selected : ''" style="border-radius:0px">
                <span class="icon icon-expand icon-subnav"></span><span>Columns</span>
            </dd>
        </a>
        <a href="#" th:href="@{'/site/' + ${siteName} + '/tags'}">
            <dd class="n-list-group-item" th:classappend="${menu == 'tags'} ? selected : ''" style="border-top-left-radius:0px; border-top-right-radius:0px;">
                <span class="icon icon-indicator icon-subnav"></span><span>Tags</span>
            </dd>
        </a>
        <a href="#" th:href="@{'/site/' + ${siteName} + '/tags'}">
            <dd class="n-list-group-item" th:classappend="${menu == 'tags'} ? selected : ''" style="border-top-left-radius:0px; border-top-right-radius:0px;">
                <span class="icon icon-license-info icon-subnav"></span><span>Authorization</span>
            </dd>
        </a>
    </dl>
</div>