<div xmlns:th="http://www.thymeleaf.org">
    <dl class="n-list-group">
        <dt class="n-list-group-item">Project</dt>
        <a href="#" th:href="@{'/projects/' + ${project.name} + '/categories'}">
            <dd class="n-list-group-item" th:classappend="${menu == 'categories'} ? selected : ''" style="border-radius:0px">
                <span class="icon icon-list icon-subnav"></span><span>Categories</span>
            </dd>
        </a>
        <a href="#" th:href="@{'/projects/' + ${project.name} + '/records'}">
            <dd class="n-list-group-item" th:classappend="${menu == 'data'} ? selected : ''" style="border-radius:0px">
                <span class="icon icon-data icon-subnav"></span><span>Records</span>
            </dd>
        </a>
        <a href="#" th:href="@{'/projects/' + ${project.name} + '/trace'}">
            <dd class="n-list-group-item" th:classappend="${menu == 'trace'} ? selected : ''" style="border-top-left-radius:0px; border-top-right-radius:0px;border-bottom-left-radius:0px; border-bottom-right-radius:0px">
                <span class="icon icon-manage icon-subnav"></span><span>Tracelog</span>
            </dd>
        </a>
        <dt class="n-list-group-item">Settings</dt>
        <a href="#" th:href="@{'/projects/' + ${project.name} + '/columns'}">
            <dd class="n-list-group-item" th:classappend="${menu == 'columns'} ? selected : ''" style="border-radius:0px">
                <span class="icon icon-calendar icon-subnav"></span><span>Columns</span>
            </dd>
        </a>
        <a href="#" th:href="@{'/projects/' + ${project.name} + '/tags'}">
            <dd class="n-list-group-item" th:classappend="${menu == 'tags'} ? selected : ''" style="border-top-left-radius:0px; border-top-right-radius:0px;">
                <span class="icon icon-bubble icon-subnav"></span><span>Tags</span>
            </dd>
        </a>
        <a href="#" th:href="@{'/projects/' + ${project.name} + '/authorization'}">
            <dd class="n-list-group-item" th:classappend="${menu == 'authorization'} ? selected : ''" style="border-top-left-radius:0px; border-top-right-radius:0px;">
                <span class="icon icon-license-info icon-subnav"></span><span>Authorization</span>
            </dd>
        </a>
    </dl>
</div>